@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
}

section {
    width: 960px;
    margin: 0 auto;
}

h1, section, article {
    margin-bottom: 1rem;
}

#botoes {
    display: inline-block;
    margin-bottom: 1rem;
}

/* botoes */
button {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
}

/* botao light */
#btlight {
    background: #ededed;
    color: #121212;
}

/* botao dark */
#btdark {
    background-color: #263238;
    color: #fff;
}

/* articles com a class box */
.box {
    padding: 0.625rem;
    border-radius: 8px;
}

/* Estilos para serem usados via JS */
.light {
    background: #fff;
    color: #191919;
}

.dark {
    background: #222;
    color: #fff;
}

.azul {
    background: #1a237e;
    color: #fff;
}

.escuro {
    background: #212121;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #00000025;
}

.amarelo {
    background: #ffc107;
    color: #fff;
}

#titulo {
    font-size: 2rem;
    font-weight: 700;
    background-color: yellow;
}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

li button {
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
