@media (max-width: 600px) {
  main {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .input-area {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 300px) {
  .filtro-area {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;
      flex-direction: column;
      align-items: normal;
    }
}
